/* 
    SET YOUR STYLES IN THIS FILE
    For help, see the style.css documentation: https://www.notion.so/style-css-cac459cc9c384da08f561394bcee4cbf
*/

/* FONTS */
/* add any @import statements for novelty fonts you want to use here ↓ */

/* COLORS */
:root {
  /* --mycolor: #your color here; */
  --idsred: #990000;
  --darkgray: rgb(80, 80, 80);
}

header {}

/* 
  SET ANY MORE STYLES YOU WANT BELOW
  Be sure to delete empty declarations
*/

/* 
TYPOGRAPHY
*/

h1,
h2 {
  /* alignment */
  text-align: center;
  /* width of text */
  /* max-width: var(--width-lg); */
  /* text color */
  color: black;
  /* text-shadow: 0 0 15px rgba(0, 0, 0, 0.7); */
}

h1 {
  /* top headline */
  margin-top: 2.0;
}

h2 {
  /* second headline */
  margin-bottom: .75em;
}

#bubble-map {
  /* max-width: 350px; */
  max-width: 800px;
  margin: 0 auto;
}

#inventory-table {
  border-collapse: collapse;
  table-layout: fixed;
  max-width: var(--width-lg);
  padding: 0 var(--sm);
  display: block;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  max-height: 500px;
  overflow: scroll;
  position: relative;
  color: rgb(80, 80, 80);
  font-weight: 500;
}

#inventory-table thead {
  background-color: lightgray;
  position: sticky;
  top: 0;
}

#inventory-table a:link,
#inventory-table a:visited {
  color: rgb(80, 80, 80);
  border-bottom-color: rgb(80, 80, 80);
  font-size: 0.85em;
  text-transform: uppercase;
  font-weight: bold;
}

#inventory-table tbody {
  font-size: 0.9em;
}

#inventory-table td,
#inventory-table th {
  border: 3px solid white;
  padding: var(--xs) var(--xs);
  vertical-align: baseline;
}

#inventory-table td {
  max-height: 200px;
  overflow: scroll;
  background-color: #f1f1f1;
  /* white-space: nowrap; */
}

/* 
media queries helper
*/
.helper {
  /* comment out next line to get visual help with media queries while you code */
  display: none !important;

  width: 60px;
  height: 60px;
  background-color: red;
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.helper::after {
  content: 'XS';
  color: white;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* use these for responsive design — you can set different styles based on how wide the screen is */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .helper {
    background-color: orange;
  }

  .helper::after {
    content: 'S';
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    /* adjust header image positioning for larger devices if needed */
    /* you can also change the header image for mobile here */
    /* background-position: 50% 50%; */
  }

  .helper {
    background-color: yellow;
  }

  .helper::after {
    content: 'M';
    color: black;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .helper {
    background-color: green;
  }

  .helper::after {
    content: 'L';
    color: white;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .helper {
    background-color: blue;
  }

  .helper::after {
    content: 'XL';
  }
}